.swiper-pagination-bullet-active {
  background-color: var(--color-text-light, #fff);
}
.swiper-button-prev,
.swiper-button-next {
  min-width: 3rem;
  min-height: 3rem;
  background-color: var(--color-secondary, #78a5a3);

  opacity: 0.8;
  border-radius: 50%;

  transform: translateX(-25%);
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--color-secondary-light, #97bab8);
}
.swiper-button-prev {
  transform: translateX(25%);
}
.swiper-button-prev:after,
.swiper-button-next:after {
  margin: auto;
  color: var(--color-text-light, #fff);
  font-size: 1.5rem !important;
  transform: translateX(25%);
}
.swiper-button-prev:after {
  transform: translateX(-25%);
}
.swiper-slide {
  width: auto;
}
@media screen and (max-width: 576) {
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}
