.btn {
  display: inline-flex;
  padding: 0.375em 0.75em;
  color: var(--color-text-dark, #212529);
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25em;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out,
    border-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:not(:disabled) {
  cursor: pointer;
}
.btn-icon {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  width: 1em;
}
.btn-icon-children {
  margin-right: 0.5em;
}
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
.btn-transparent {
  background-color: transparent;
  border-color: transparent;
}

/* Primary */
.btn-primary {
  color: var(--color-text-light, #fff);
  background-color: var(--color-primary, hsl(211, 100%, 50%));
  border-color: var(--color-primary, hsl(211, 100%, 50%));
}
.btn-primary:not(:disabled):hover {
  background-color: var(--color-primary-dark, hsl(211, 100%, 43%));
  border-color: var(--color-primary-darker, hsl(211, 100%, 40%));
}
.btn-primary:not(:disabled):active {
  background-color: var(--color-primary-darker, hsl(211, 100%, 40%));
  border-color: var(--color-primary-darkest, hsl(211, 100%, 37%));
}
.btn-primary:not(:disabled).js-focus-visible.focus-visible {
  outline-color: var(--color-primary-light, hsl(211deg 100% 60%));
}
.btn-primary:disabled {
  background-color: var(--color-primary-lightest, hsl(211, 100%, 70%));
  border-color: var(--color-primary-lighter, hsl(211, 100%, 67%));
}

/* Outline-primary */
.btn-outline-primary {
  color: var(--color-primary, hsl(211, 100%, 50%));
  border-color: var(--color-primary, hsl(211, 100%, 50%));
}
.btn-outline-primary:not(:disabled):hover {
  color: var(--color-text-light, #fff);
  background-color: var(--color-primary, hsl(211, 100%, 50%));
  border-color: var(--color-primary, hsl(211, 100%, 50%));
}
.btn-outline-primary:not(:disabled):active {
  color: var(--color-text-light, #fff);
  background-color: var(--color-primary, hsl(211, 100%, 50%));
  border-color: var(--color-primary, hsl(211, 100%, 50%));
}
.btn-outline-primary:not(:disabled).js-focus-visible.focus-visible {
  outline-color: var(--color-primary-light, hsl(211deg 100% 60%));
}
.btn-outline-primary:disabled {
  color: var(--color-primary-lightest, hsl(211, 100%, 70%));
  border-color: var(--color-primary-lighter, hsl(211, 100%, 67%));
}

/* Secondary */
.btn-secondary {
  color: var(--color-text-light, #fff);
  background-color: var(--color-secondary, hsl(208, 7%, 46%));
  border-color: var(--color-secondary, hsl(208, 7%, 46%));
}
.btn-secondary:not(:disabled):hover {
  background-color: var(--color-secondary-dark, hsl(208, 7%, 39%));
  border-color: var(--color-secondary-darker, hsl(208, 7%, 36%));
}
.btn-secondary:not(:disabled):active {
  background-color: var(--color-secondary-darker, hsl(208, 7%, 36%));
  border-color: var(--color-secondary-darkest, hsl(208, 7%, 33%));
}
.btn-secondary:not(:disabled).js-focus-visible.focus-visible {
  outline-color: var(--color-secondary-light, hsl(208, 7%, 56%));
}
.btn-secondary:disabled {
  background-color: var(--color-primary-lightest, hsl(208, 7%, 70%));
  border-color: var(--color-primary-lighter, hsl(208, 7%, 67%));
}

/* Outline-secondary */
.btn-outline-secondary {
  color: var(--color-secondary, hsl(208, 7%, 46%));
  border-color: var(--color-secondary, hsl(208, 7%, 46%));
}
.btn-outline-secondary:not(:disabled):hover {
  color: var(--color-text-light, #fff);
  background-color: var(--color-secondary, hsl(208, 7%, 46%));
  border-color: var(--color-secondary, hsl(208, 7%, 46%));
}
.btn-outline-secondary:not(:disabled):active {
  color: var(--color-text-light, #fff);
  background-color: var(--color-secondary, hsl(208, 7%, 46%));
  border-color: var(--color-secondary, hsl(208, 7%, 46%));
}
.btn-outline-secondary:not(:disabled).js-focus-visible.focus-visible {
  outline-color: var(--color-secondary-light, hsl(208, 7%, 56%));
}
.btn-outline-secondary:disabled {
  color: var(--color-primary-lightest, hsl(208, 7%, 70%));
  border-color: var(--color-primary-lighter, hsl(208, 7%, 67%));
}

/* Success */
.btn-success {
  color: var(--color-text-light, #fff);
  background-color: var(--color-success, hsl(134, 61%, 41%));
  border-color: var(--color-success, hsl(134, 61%, 41%));
}
.btn-success:not(:disabled):hover {
  background-color: var(--color-success-dark, hsl(134, 61%, 34%));
  border-color: var(--color-success-darker, hsl(134, 61%, 31%));
}
.btn-success:not(:disabled):active {
  background-color: var(--color-success-darker, hsl(134, 61%, 31%));
  border-color: var(--color-success-darkest, hsl(134, 61%, 30%));
}
.btn-success:not(:disabled).js-focus-visible.focus-visible {
  outline-color: var(--color-success-light, hsl(134, 61%, 51%));
}
.btn-success:disabled {
  background-color: var(--color-primary-lightest, hsl(134, 61%, 70%));
  border-color: var(--color-primary-lighter, hsl(134, 61%, 67%));
}

/* Outline-success */
.btn-outline-success {
  color: var(--color-success, hsl(134, 61%, 41%));
  border-color: var(--color-success, hsl(134, 61%, 41%));
}
.btn-outline-success:not(:disabled):hover {
  color: var(--color-text-light, #fff);
  background-color: var(--color-success, hsl(134, 61%, 41%));
  border-color: var(--color-success, hsl(134, 61%, 41%));
}
.btn-outline-success:not(:disabled):active {
  color: var(--color-text-light, #fff);
  background-color: var(--color-success, hsl(134, 61%, 41%));
  border-color: var(--color-success, hsl(134, 61%, 41%));
}
.btn-outline-success:not(:disabled).js-focus-visible.focus-visible {
  outline-color: var(--color-success-light, hsl(134, 61%, 51%));
}
.btn-outline-success:disabled {
  color: var(--color-primary-lightest, hsl(134, 61%, 70%));
  border-color: var(--color-primary-lighter, hsl(134, 61%, 67%));
}

/* Warning */
.btn-warning {
  color: var(--color-text-dark, #212529);
  background-color: var(--color-warning, hsl(45, 100%, 51%));
  border-color: var(--color-warning, hsl(45, 100%, 51%));
}
.btn-warning:not(:disabled):hover {
  background-color: var(--color-warning-dark, hsl(45, 100%, 44%));
  border-color: var(--color-warning-darker, hsl(45, 100%, 41%));
}
.btn-warning:not(:disabled):active {
  background-color: var(--color-warning-darker, hsl(45, 100%, 41%));
  border-color: var(--color-warning-darkest, hsl(45, 100%, 40%));
}
.btn-warning:not(:disabled).js-focus-visible.focus-visible {
  outline-color: var(--color-warning-light, hsl(45, 100%, 61%));
}
.btn-warning:disabled {
  background-color: var(--color-primary-lightest, hsl(45, 100%, 70%));
  border-color: var(--color-primary-lighter, hsl(45, 100%, 67%));
}

/* Outline-warning */
.btn-outline-warning {
  color: var(--color-warning, hsl(45, 100%, 51%));
  border-color: var(--color-warning, hsl(45, 100%, 51%));
}
.btn-outline-warning:not(:disabled):hover {
  color: var(--color-text-dark, #212529);
  background-color: var(--color-warning, hsl(45, 100%, 51%));
  border-color: var(--color-warning, hsl(45, 100%, 51%));
}
.btn-outline-warning:not(:disabled):active {
  color: var(--color-text-dark, #212529);
  background-color: var(--color-warning, hsl(45, 100%, 51%));
  border-color: var(--color-warning, hsl(45, 100%, 51%));
}
.btn-outline-warning:not(:disabled).js-focus-visible.focus-visible {
  outline-color: var(--color-warning-light, hsl(45, 100%, 61%));
}
.btn-outline-warning:disabled {
  color: var(--color-primary-lightest, hsl(45, 100%, 70%));
  border-color: var(--color-primary-lighter, hsl(45, 100%, 67%));
}

/* Danger */
.btn-danger {
  color: var(--color-text-light, #fff);
  background-color: var(--color-danger, hsl(354, 70%, 50%));
  border-color: var(--color-danger, hsl(354, 70%, 50%));
}
.btn-danger:not(:disabled):hover {
  background-color: var(--color-danger-dark, hsl(354, 70%, 40%));
  border-color: var(--color-danger-darker, hsl(354, 70%, 37%));
}
.btn-danger:not(:disabled):active {
  background-color: var(--color-danger-darker, hsl(354, 70%, 37%));
  border-color: var(--color-danger-darkest, hsl(354, 70%, 33%));
}
.btn-danger:not(:disabled).js-focus-visible.focus-visible {
  outline-color: var(--color-danger-light, hsl(354, 70%, 60%));
}
.btn-danger:disabled {
  background-color: var(--color-primary-lightest, hsl(354, 70%, 70%));
  border-color: var(--color-primary-lighter, hsl(354, 70%, 67%));
}

/* Outline-danger */
.btn-outline-danger {
  color: var(--color-danger, hsl(354, 70%, 50%));
  border-color: var(--color-danger, hsl(354, 70%, 50%));
}
.btn-outline-danger:not(:disabled):hover {
  color: var(--color-text-light, #fff);
  background-color: var(--color-danger, hsl(354, 70%, 50%));
  border-color: var(--color-danger, hsl(354, 70%, 50%));
}
.btn-outline-danger:not(:disabled):active {
  color: var(--color-text-light, #fff);
  background-color: var(--color-danger, hsl(354, 70%, 50%));
  border-color: var(--color-danger, hsl(354, 70%, 50%));
}
.btn-outline-danger:not(:disabled).js-focus-visible.focus-visible {
  outline-color: var(--color-danger-light, hsl(354, 70%, 60%));
}
.btn-outline-danger:disabled {
  color: var(--color-primary-lightest, hsl(354, 70%, 70%));
  border-color: var(--color-primary-lighter, hsl(354, 70%, 67%));
}

/* light */
.btn-info {
  color: var(--color-text-light, #fff);
  background-color: var(--color-info, hsl(188, 78%, 50%));
  border-color: var(--color-info, hsl(188, 78%, 50%));
}
.btn-info:not(:disabled):hover {
  background-color: var(--color-info-dark, hsl(188, 78%, 40%));
  border-color: var(--color-info-darker, hsl(188, 78%, 37%));
}
.btn-info:not(:disabled):active {
  background-color: var(--color-info-darker, hsl(188, 78%, 37%));
  border-color: var(--color-info-darkest, hsl(188, 78%, 33%));
}
.btn-info:not(:disabled).js-focus-visible.focus-visible {
  outline-color: var(--color-info-light, hsl(188, 78%, 61%));
}
.btn-info:disabled {
  background-color: var(--color-primary-lightest, hsl(188, 78%, 70%));
  border-color: var(--color-primary-lighter, hsl(188, 78%, 67%));
}

/* Outline-info */
.btn-outline-info {
  color: var(--color-info, hsl(188, 78%, 50%));
  border-color: var(--color-info, hsl(188, 78%, 50%));
}
.btn-outline-info:not(:disabled):hover {
  color: var(--color-text-light, #fff);
  background-color: var(--color-info, hsl(188, 78%, 50%));
  border-color: var(--color-info, hsl(188, 78%, 50%));
}
.btn-outline-info:not(:disabled):active {
  color: var(--color-text-light, #fff);
  background-color: var(--color-info, hsl(188, 78%, 50%));
  border-color: var(--color-info, hsl(188, 78%, 50%));
}
.btn-outline-info:not(:disabled).js-focus-visible.focus-visible {
  outline-color: var(--color-info-light, hsl(188, 78%, 61%));
}
.btn-outline-info:disabled {
  color: var(--color-primary-lightest, hsl(188, 78%, 70%));
  border-color: var(--color-primary-lighter, hsl(188, 78%, 67%));
}

/* Light */
.btn-light {
  color: var(--color-text-light, #fff);
  background-color: var(--color-light, hsl(210, 17%, 80%));
  border-color: var(--color-light, hsl(210, 17%, 80%));
}
.btn-light:not(:disabled):hover {
  background-color: var(--color-light-dark, hsl(210, 17%, 70%));
  border-color: var(--color-light-darker, hsl(210, 17%, 67%));
}
.btn-light:not(:disabled):active {
  background-color: var(--color-light-darker, hsl(210, 17%, 67%));
  border-color: var(--color-light-darkest, hsl(210, 17%, 63%));
}
.btn-light:not(:disabled).js-focus-visible.focus-visible {
  outline-color: var(--color-light-dark, hsl(210, 17%, 70%));
}
.btn-light:disabled {
  background-color: var(--color-primary-lightest, hsl(210, 17%, 90%));
  border-color: var(--color-primary-lighter, hsl(210, 17%, 87%));
}

/* Outline-light */
.btn-outline-light {
  color: var(--color-light, hsl(210, 17%, 80%));
  border-color: var(--color-light, hsl(210, 17%, 80%));
}
.btn-outline-light:not(:disabled):hover {
  color: var(--color-text-light, #fff);
  background-color: var(--color-light, hsl(210, 17%, 80%));
  border-color: var(--color-light, hsl(210, 17%, 80%));
}
.btn-outline-light:not(:disabled):active {
  color: var(--color-text-light, #fff);
  background-color: var(--color-light, hsl(210, 17%, 80%));
  border-color: var(--color-light, hsl(210, 17%, 80%));
}
.btn-outline-light:not(:disabled).js-focus-visible.focus-visible {
  outline-color: var(--color-light-dark, hsl(210, 17%, 70%));
}
.btn-outline-light:disabled {
  color: var(--color-primary-lightest, hsl(210, 17%, 90%));
  border-color: var(--color-primary-lighter, hsl(210, 17%, 87%));
}
